<form>
  <mat-form-field class="inputField">
    <input matInput  name='date' [(ngModel)]="newPost.date" [matDatepicker]="picker" placeholder="Wybierz date zakupu">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" name='price' [(ngModel)]="newPost.price" placeholder="Cena w [zł/l]">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" name="fuel" [(ngModel)]="newPost.fuel" placeholder="Ilość paliwa w [litr]">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" name="overPaid" [(ngModel)]="overPaid" placeholder="Nadpłata w [zł]">
  </mat-form-field>

  <button type="submit" (click)="addNewData()" mat-raised-button color="primary">Dodaj</button>
</form>





