<div class="gridSum">
  <mat-card class="totalExpences" >
    <strong class="title">Kwota do zapłacenia</strong>
    <mat-card-title>{{sum$ | async}} złotych</mat-card-title>
    <button (click)="paySum()" mat-raised-button color="primary">Zapłać</button>
  </mat-card>
</div>
