<div>
  <mat-form-field>
    <!--ngModel nie może mieć takiej samej nazyw jak MatDatepicker-->
    <input matInput name="dateFrom" (dateChange)='onChangeDataPicker()' [(ngModel)]="dateFrom"
           [matDatepicker]="chooseDateFrom" placeholder="Początek">
    <mat-datepicker-toggle matSuffix [for]="chooseDateFrom"></mat-datepicker-toggle>
    <mat-datepicker #chooseDateFrom></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput name="dateTo" (dateChange)='onChangeDataPicker()' [(ngModel)]="dateTo"
           [matDatepicker]="chooseDateTo" placeholder="Koniec">
    <mat-datepicker-toggle matSuffix [for]="chooseDateTo"></mat-datepicker-toggle>
    <mat-datepicker #chooseDateTo></mat-datepicker>
  </mat-form-field>
</div>

<div class="grid">
  <mat-card class="expences" *ngFor="let post of posts$ | async" [ngClass]="{paid: post.isPaid}">
    <mat-card-title>
      Data: {{post.date | amDateFormat:'LL'}}
    </mat-card-title>
    <mat-card-content>Cena: {{post.price}}</mat-card-content>
    <mat-card-content>Ilość paliwa:{{post.fuel}}</mat-card-content>
    <mat-card-content> Zapłacone: {{post.isPaid}}</mat-card-content>
    <mat-card-content>Suma: {{post.sum}}</mat-card-content>
  </mat-card>
</div>

