.grid{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}
.mat-card {
  margin: 10px;
  max-width: 200px;
  background-color: rgba(0, 255, 0, 0.1);
}
.paid{
  background-color: rgba(255, 0, 0, 0.1)
}
